<ion-view title="NAMI-Utah Programs" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/d9DReBUTX68xPCcVaJFD_namiutah.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <a href-inappbrowser="https://form.jotform.com/73325346754157" id="nAMIUtahPrograms-button12" class="button button-positive button-block icon ion-checkmark-circled"> Teacher/Facilitator Application</a>
    <a href-inappbrowser="https://docs.google.com/forms/d/e/1FAIpQLSe1v-uKnCT6C4O985G_p_3ltrxXjIqy5bWplxTpyTH1spEMHg/viewform" id="nAMIUtahPrograms-button10" class="button button-positive button-block icon ion-podium">
    Participant Evaluations</a>
    <a href-inappbrowser="https://form.jotform.com/80926615054154" id="nAMIUtahPrograms-button13" class="button button-positive button-block icon ion-document-text"> Manual Request</a>
    <a href-inappbrowser="https://form.jotform.com/80296383154157" id="nAMIUtahPrograms-button14" class="button button-positive button-block icon ion-cash"> Stipend Request</a>
    <a ui-sref="reportProgramData()" id="nAMIUtahPrograms-button11" class="button button-positive button-block icon ion-pie-graph"> Report Program Data</a>
    <a href-inappbrowser="https://form.jotform.com/83025221554145 " id="nAMIUtahPrograms-button20" class="button button-positive button-block icon ion-alert-circled"> Concerns &amp; Suggestions</a>
    <hr style="margin:30px 0 30px 0;">
    <div>
      <img src="img/deLGQkQfQDe34UABZaI2_nami-icon.png" style="display: block; width: 14%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p align="center">National Alliance on Mental Illness-Utah</p>
      <p align="center">1600 W 2200 S, Suite 202</p>
      <p align="center">West Valley City, UT 84119</p>
      <p align="center">
        <a href="https://www.namiut.org/">namiut.org</a> | 801-323-9900</p>
      <p align="center">
        <a href="mailto:programs@namiut.org">programs@namiut.org</a>
      </p>
    </div>
  </ion-content>
</ion-view>