<ion-view title="Report Program Data" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/d9DReBUTX68xPCcVaJFD_namiutah.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div id="reportProgramData-container3" class="bgcolor">
      <div style="margin-left:10px; padding-top:5px;">
        <p>Use the following
          <b>username</b> and
          <b>password</b> to report your data for the programs below.</p>
        <p>
          <b>Username:</b> education@nami.org</p>
        <p style="margin-top:-10px;">
          <b>Password:</b> nami </p>
      </div>
      <a href-inappbrowser="http://extranet.nami.org/Surveys/Education/NewSurvey/Lists/Survey1/NewForm.aspx?Source=http://extranet.nami.org/Surveys/Education/NewSurvey/Default.aspx" id="reportProgramData-button21" class="button button-balanced button-block">Basics Teacher</a>
      <a href-inappbrowser="http://extranet.nami.org/Surveys/Education/NewSurvey3/Lists/Survey1/NewForm.aspx?Source=http://extranet.nami.org/Surveys/Education/NewSurvey3/Default.aspx" id="reportProgramData-button25" class="button button-balanced button-block">Connection Support Group Facilitator</a>
      <a href-inappbrowser="http://extranet.nami.org/Surveys/Education/NewSurvey3/Lists/Survey1/NewForm.aspx?Source=http://extranet.nami.org/Surveys/Education/NewSurvey3/Default.aspx" id="reportProgramData-button28"
        class="button button-balanced button-block">Family Support Group Facilitator</a>
      <a href-inappbrowser="http://extranet.nami.org/Surveys/Education/NewSurvey/Lists/Survey1/NewForm.aspx?Source=http://extranet.nami.org/Surveys/Education/NewSurvey/Default.aspx" id="reportProgramData-button26" class="button button-balanced button-block">Family-to-Family Teacher</a>
      <a href-inappbrowser="http://extranet.nami.org/Surveys/Education/NewSurvey/Lists/Survey1/NewForm.aspx?Source=http://extranet.nami.org/Surveys/Education/NewSurvey/Default.aspx" id="reportProgramData-button27" class="button button-balanced button-block">Peer-to-Peer Teacher</a>
    </div>
    <a href-inappbrowser="https://form.jotform.com/73324913454153" id="reportProgramData-button19" class="button button-balanced button-block">Progression Teacher</a>
    <hr style="margin:30px 0 30px 0;">
    <div>
      <img src="img/deLGQkQfQDe34UABZaI2_nami-icon.png" style="display: block; width: 14%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p align="center">National Alliance on Mental Illness-Utah</p>
      <p align="center">1600 W 2200 S, Suite 202</p>
      <p align="center">West Valley City, UT 84119</p>
      <p align="center">
        <a href="https://www.namiut.org/">namiut.org</a> | 801-323-9900</p>
      <p align="center">
        <a href="mailto:programs@namiut.org">programs@namiut.org</a>
      </p>
    </div>
  </ion-content>
</ion-view>